@charset "utf-8";
.search-box input{
	padding: 12px 0px 10px 35px;
}
.widget-subscribe input[type="text"]{
	padding: 10px 0px 10px 15px;
}
.navigation ul ul,
.heart-active, .filter-menu ul,
.services article figure a:after,
.ourteam-carousel article figcaption,
.widget_gallery ul li a:before,
footer .navigation ul ul,
.postlist article figure figcaption,
.event article figure figcaption,
.gallerysec figure figcaption{
	display: none;
	opacity: 0;
	filter:alpha(opacity=0);
	visibility: inherit;
}
.navigation ul li:hover ul,
.items-pro article:hover .heart-active,
.filter-menu:hover ul,
.services article:hover figure a:after,
.ourteam-carousel article:hover figcaption,
.widget_gallery ul li:hover a:before,
.postlist article:hover figure figcaption,
.event article:hover figure figcaption,
.gallerysec ul li:hover figure figcaption{
	display: inline;
	opacity: 1;
	filter:alpha(opacity=100);
	visibility: inherit;
}
.navigation ul ul ul{
	display: none !important;
}
.navigation ul ul li:hover ul{
	display: block !important;
}
.sortby ul{
	display: inline;
	filter:alpha(opacity=100);
	top: 35px;
}
.filter-menu ul{
	top: 34px;
}
.services article figure a:before{
	display: none;
	opacity: 0;
	filter:alpha(opacity=0);
}
.prev-btn, .next-btn{
	left: 0%;
	right: auto;
}
.next-btn{
	right: 0%;
	left: auto;
}
.ourteam-carousel .cycle-slideshow{
	width: 88%;
}
.header-2 .search-box input,
.widget_search form input[type="text"]{
	padding: 12px 0px 12px 35px;
}
.header-3 .search-box input,
.header-4 .search-box input{
	padding: 17px 0px 12px 35px;
}
.header-2 .navigation ul ul{
	top: 55px;
}
.header-4 .search-sec .search{
	width: 45px;
}
.header-4 .search-sec .search button{
	right: 15px;
}
#respond form input[type="text"],
.header-5 .search-box input{
	padding: 9px 30px;
}
.event .map-caption{
	background-color: #000;
}
.gallerysec figure figcaption i{
	left: 50%;
}
.form-section p input{
	padding: 10px 10px;
}
.password_protected form label:before{
	padding-left: 18px;
}
.password_protected form input[type="text"],
.pagenone .password_protected form input[type="text"]{
	padding-top: 13px !important;
}
.pagenone h4:after{
	padding-left: 10px;
}
.price-style1 .price_featured:before, .price-style1 .price_featured:after,
.arrow-border:before, .arrow-border:after{
	display: none;
}
.dropcap:first-letter, .dropcaptwo:first-letter{
	background-color: #88ae95;
}
.items-pro article figure:before{
	background: url(../images/ie8mg.png);
}
.heading-seprator:after{
	background: url(../images/sprites.png);
	background-repeat: no-repeat;
	background-position: 0px -584px;
}
.services article:hover figure a:after{
	background: url(../images/ie8mg-white.png);
	background-color: transparent !important;
}